%li.contents__left__ul__li
- current_user.groups.each do |group|
  = link_to group_messages_path(group) do
    .contents__left__ul__li--sample
      = group.group_name
    .contents__left__ul__li--text
      メッセージはまだありません。
    