.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 10;
  &__main{
    float: right;
    height: 100px;
    width: calc(100vw - 300px);
    border-bottom: 1px solid #eeeeee;
    background-color: $white;
    &__left{
      float: left;
      padding-left: 40px;
      &--sample {
        font-size: 20px;
        color: #333333;
        padding: 35px 0 15px 0;
      }
      &--member{
        font-size: 12px;
        color: $gray;
      }
    }
    &--edit {
      float: right;
      color: $blue;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      border: 1px solid $blue;
      margin: 28px 40px 0 0;
    }
  }
  &__sub{
    float: left;
    height: 100px;
    width: 300px;
    background-color: #253141;
    &__name{
      float: left;
      line-height: 100px;
      padding-left: 20px;
      color: $white;
      font-weight: bold;
      font-size: 16px;
    }
    &__btn{
      float: right;
      color: $white;
      line-height: 100px;
      &--cog{
        margin: 0 20px 0 5px;
      }
    }
  }
}

.contents{
  height: 100vh;
  width: 100vw;
  background-color: $dark-white;
  padding-top: 100px;
  &__main{
    float: right;
    width: calc(100vw - 300px);
    background-color: $dark-white;
    &__null{
      height: 46px;
      width: 100%;
    }
    &__ul{
      padding-left: 40px;
      &__li{
        width: 100%;
        &--name{
          float: left;
          font-size: 16px;
          color: $dark-gray;
          padding-right: 10px;
          font-weight: bold;
        }
        &--date{
          font-size: 12px;
          color: $gray;  
        }
        &--messages{
          clear: both;
          font-size: 14px;
          color: $dark-gray;
          padding: 10px 40px 60px 0;
        }
      }
    } 
  }

  &__left{
    position: fixed;
    float: left;
    width: 300px;
    height: 100%;
    background-color: #2f3e51;
    &__ul{
      &__li{
        color: $white;
        padding-left: 20px;
        &--sample{
          font-size: 15px;
          padding: 20px 0 5px 0;
        }
        &--text{
          font-size: 11px;
          padding-bottom: 40px;
        }
      }
    }
  }
}

.form{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 90px;
  width: calc(100vw - 300px);
  background-color: #dddddd;
  &__box{
    display: flex;
    margin: 20px 40px 20px 40px;
    &__input{
      float: left;
      height: 50px;
      width: 100%;
      border: $white;
      padding-left: 10px;
    }
    &__label {
      cursor: pointer;
      background-color: $white;
      height: 50px;
      &--file{
        display: none;
      }  
      &--image{
        color: black;
        font-size: 20px;
        padding: 15px 10px;
      } 
    }
    &__submit{
      padding: 12px 30px;
      font-size: 16px;
      color: $white;
      background-color: $blue;
      margin-left: 15px;
    }
  }
}